body {
  overflow-x: hidden!important;
  overflow-y: hidden!important;
 }


.form-section {
  max-width:900px
  margin; 40px auto;
  border: 10px solid #dee2e6;
  border-radius: 6px;
  overflow: hidden;
  background-color: #fff;
}

.form-header {
  background-color: #e9ecef;
  width: 100%;
}

.form-header h4 {
  margin: 9px;
  padding: 20px;
}

.form-body {
  padding: 20px;
}

.alert-box {
  background-color: #f8d7da;
  color: #842029;
  padding: 12px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.card-icons img {
  height: 30px;
  margin-right: 10px;
}

textarea {
  resize: none;
}

/* Pie del formulario */
.form-footer {
  background-color: #e9ecef;
  padding: 10px 0;
  width: 100%;  /* Asegura que el pie ocupe el mismo ancho que el formulario */
}

.form-footer .btn-container {
  display: flex;
  justify-content: flex-end;
  padding: 0 20px;
  margin: 0;
}

.form-footer .btn-container button {
  margin-left: 100px;
}


